@use "../../../scss/vars.scss" as v;

.detail-pokemon {
    position: relative;
    max-width: 350px;
    margin: 0 auto;
    border: 8px solid v.$white;
    border-radius: v.$radius;
    background-size: contain;
    box-shadow: v.$shadow;
    -webkit-box-shadow: v.$webkit-sh;
    -moz-box-shadow: v.$moz-sh;

    .background-ball {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 180px;
        height: 180px;
        object-fit: cover;
    }

    .header {
        position: relative;
        top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        color: v.$white;

        .back {
            display: flex;
            gap: 10px;
            text-transform: capitalize;

            .mat-icon {
                font-size: 1.6rem;
                cursor: pointer;
            }

            div {
                text-align: center;

                h6 {
                    //font-size: 1rem;
                    width: 80px;
                    padding: 2px;
                    border-radius: 2rem;
                    background: rgba($color: #000000, $alpha: .5);
                }
            }
        }
    }

    figure {
        position: relative;
        top: 70px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 100%;

        img {
            width: 150px;
        }

        .types {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;

            figcaption {
                padding: 5px 10px;
                font-size: .8rem;
                line-height: 17px;
                border-radius: 15px;
                background: v.$grass;
                color: v.$white;
                text-transform: capitalize;
            }

            figcaption.bug {
                background: v.$bug;
            }

            figcaption.dark {
                background: v.$dark;
            }

            figcaption.dragon {
                background: v.$dragon;
            }

            figcaption.electric {
                background: v.$electric;
            }

            figcaption.fairy {
                background: v.$fairy;
            }

            figcaption.fighting {
                background: v.$fighting;
            }

            figcaption.fire {
                background: v.$fire;
            }

            figcaption.flying {
                background: v.$flying;
            }

            figcaption.ghost {
                background: v.$ghost;
            }

            figcaption.grass {
                background: v.$grass;
            }

            figcaption.ground {
                background: v.$ground;
            }

            figcaption.ice {
                background: v.$ice;
            }

            figcaption.normal {
                background: v.$normal;
            }

            figcaption.poison {
                background: v.$poison;
            }

            figcaption.psychic {
                background: v.$psychic;
            }

            figcaption.rock {
                background: v.$rock;
            }

            figcaption.steel {
                background: v.$steel;
            }

            figcaption.water {
                background: v.$water;
            }
        }
    }

    .detail {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        //height: 450px;
        padding: 100px 5px 20px 5px;
        border: 3px solid v.$grass;
        border-radius: v.$radius;
        background: v.$white;

        h4 {
            width: 100%;
            text-align: center;
            color: v.$grass;
            text-transform: capitalize;
        }

        section {
            display: flex;
            justify-content: space-between;
            max-width: 300px;
            font-size: .8rem;

            article {
                display: flex;
                gap: 5px;
                align-items: center;
                padding: 0 10px;
                border-right: 1px solid #cdcdcd;

                .mat-icon {
                    font-size: 1.4rem;
                }
            }

            .moves {
                text-align: center;
                border: none;
                text-transform: capitalize;
            }
        }

        span {
            text-align: center;
            font-size: .8rem;
        }

        .stats {
            display: flex;
            width: 250px;
            font-size: .8rem;
            text-transform: uppercase;

            ul {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                gap: 5px;
                padding: 0 10px;
            }

            .types {
                font-weight: bold;
                border-right: 1px solid #cdcdcd;
                color: v.$grass;
            }

            .values {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                gap: 20px;
                justify-content: center;

                li {
                    height: 5px;
                    background: v.$grass;
                }
            }
        }
    }
}

.detail-pokemon.bug {
    background: v.$bug;

    .detail {
        border-color: v.$bug;

        h4 {
            color: v.$bug;
        }

        .stats {
            .types {
                color: v.$bug;
            }

            .values {
                li {
                    height: 5px;
                    background: v.$bug;
                }
            }
        }
    }
}

.detail-pokemon.dark {
    background: v.$dark;

    .detail {
        border-color: v.$dark;

        h4 {
            color: v.$dark;
        }

        .stats {
            .types {
                color: v.$dark;
            }

            .values {
                li {
                    height: 5px;
                    background: v.$dark;
                }
            }
        }
    }
}

.detail-pokemon.dragon {
    background: v.$dragon;

    .detail {
        border-color: v.$dragon;

        h4 {
            color: v.$dragon;
        }

        .stats {
            .types {
                color: v.$dragon;
            }

            .values {
                li {
                    height: 5px;
                    background: v.$dragon;
                }
            }
        }
    }
}

.detail-pokemon.electric {
    background: v.$electric;

    .detail {
        border-color: v.$electric;

        h4 {
            color: v.$electric;
        }

        .stats {
            .types {
                color: v.$electric;
            }

            .values {
                li {
                    height: 5px;
                    background: v.$electric;
                }
            }
        }
    }
}

.detail-pokemon.fairy {
    background: v.$fairy;

    .detail {
        border-color: v.$fairy;

        h4 {
            color: v.$fairy;
        }

        .stats {
            .types {
                color: v.$fairy;
            }

            .values {
                li {
                    height: 5px;
                    background: v.$fairy;
                }
            }
        }
    }
}

.detail-pokemon.fighting {
    background: v.$fighting;

    .detail {
        border-color: v.$fighting;

        h4 {
            color: v.$fighting;
        }

        .stats {
            .types {
                color: v.$fighting;
            }

            .values {
                li {
                    height: 5px;
                    background: v.$fighting;
                }
            }
        }
    }
}

.detail-pokemon.fire {
    background: v.$fire;

    .detail {
        border-color: v.$fire;

        h4 {
            color: v.$fire;
        }

        .stats {
            .types {
                color: v.$fire;
            }

            .values {
                li {
                    height: 5px;
                    background: v.$fire;
                }
            }
        }
    }
}

.detail-pokemon.flying {
    background: v.$flying;

    .detail {
        border-color: v.$flying;

        h4 {
            color: v.$flying;
        }

        .stats {
            .types {
                color: v.$flying;
            }

            .values {
                li {
                    height: 5px;
                    background: v.$flying;
                }
            }
        }
    }
}

.detail-pokemon.ghost {
    background: v.$ghost;

    .detail {
        border-color: v.$ghost;

        h4 {
            color: v.$ghost;
        }

        .stats {
            .types {
                color: v.$ghost;
            }

            .values {
                li {
                    height: 5px;
                    background: v.$ghost;
                }
            }
        }
    }
}

.detail-pokemon.grass {
    background: v.$grass;

    .detail {
        border-color: v.$grass;

        h4 {
            color: v.$grass;
        }

        .stats {
            .types {
                color: v.$grass;
            }

            .values {
                li {
                    height: 5px;
                    background: v.$grass;
                }
            }
        }
    }
}

.detail-pokemon.ground {
    background: v.$ground;

    .detail {
        border-color: v.$ground;

        h4 {
            color: v.$ground;
        }

        .stats {
            .types {
                color: v.$ground;
            }

            .values {
                li {
                    height: 5px;
                    background: v.$ground;
                }
            }
        }
    }
}

.detail-pokemon.ice {
    background: v.$ice;

    .detail {
        border-color: v.$ice;

        h4 {
            color: v.$ice;
        }

        .stats {
            .types {
                color: v.$ice;
            }

            .values {
                li {
                    height: 5px;
                    background: v.$ice;
                }
            }
        }
    }
}

.detail-pokemon.normal {
    background: v.$normal;

    .detail {
        border-color: v.$normal;

        h4 {
            color: v.$normal;
        }

        .stats {
            .types {
                color: v.$normal;
            }

            .values {
                li {
                    height: 5px;
                    background: v.$normal;
                }
            }
        }
    }
}

.detail-pokemon.poison {
    background: v.$poison;

    .detail {
        border-color: v.$poison;

        h4 {
            color: v.$poison;
        }

        .stats {
            .types {
                color: v.$poison;
            }

            .values {
                li {
                    height: 5px;
                    background: v.$poison;
                }
            }
        }
    }
}

.detail-pokemon.psychic {
    background: v.$psychic;

    .detail {
        border-color: v.$psychic;

        h4 {
            color: v.$psychic;
        }

        .stats {
            .types {
                color: v.$psychic;
            }

            .values {
                li {
                    height: 5px;
                    background: v.$psychic;
                }
            }
        }
    }
}

.detail-pokemon.rock {
    background: v.$rock;

    .detail {
        border-color: v.$rock;

        h4 {
            color: v.$rock;
        }

        .stats {
            .types {
                color: v.$rock;
            }

            .values {
                li {
                    height: 5px;
                    background: v.$rock;
                }
            }
        }
    }
}

.detail-pokemon.steel {
    background: v.$steel;

    .detail {
        border-color: v.$steel;

        h4 {
            color: v.$steel;
        }

        .stats {
            .types {
                color: v.$steel;
            }

            .values {
                li {
                    height: 5px;
                    background: v.$steel;
                }
            }
        }
    }
}

.detail-pokemon.water {
    background: v.$water;

    .detail {
        border-color: v.$water;

        h4 {
            color: v.$water;
        }

        .stats {
            .types {
                color: v.$water;
            }

            .values {
                li {
                    height: 5px;
                    background: v.$water;
                }
            }
        }
    }
}