/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
    text-decoration: none;
}

li {
    list-style: none;
}

main {
    padding: 0 20px;
}

.container {
    padding-top: 50px;
}

.content-pokemon {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 1rem;
    justify-items: center;
    width: 100%;
}



